<!--
  Generated template for the InboxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Chatting</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list>
  <ion-item *ngFor="let msg of msgList | async" (click)='onMsgClick(msg)'>
    <ion-avatar item-left>
        <img src="assets/imgs/avatar.png">
    </ion-avatar>
    <h2>{{msg?.peerName}}
    </h2>
    <p>{{msg?.msg}}</p><ion-badge *ngIf="msg.unread" color="danger">{{msg?.unread}}</ion-badge>
  </ion-item>
</ion-list>
</ion-content>
